body, html {
margin: 0;
font-size: 14px;

  }


.container 
{
    background-color: rgba(227, 255, 17, 0);
    display: grid;
    width: 100%;
    max-inline-size: max-content;
    margin-inline: auto;
    
}

.container-header { 
    max-width:  95%;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color          : lightgray;
    mix-blend-mode : difference;
    padding: 20px 0 12px 0px;
    position: -webkit-sticky;
    position: sticky;
    left: 20px;
    top: 0px;
    z-index: 100;

}

.container-img {
    max-width:  100%;
    margin-inline: auto;
}

#first-img {
    margin-top: 0px;
}

@media  (max-width: 800px) { 
  .container {
    background-color: rgba(227, 255, 17, 0);
    display: grid;
    width: 100%;
}
}
  

img {
    width: 100%;
    margin: 0;
}

.profile-picture {
    width: 180px;

}
h1{ font-family: Helvetica, Arial,  sans-serif;
    letter-spacing: 2em;
    font-size: 14px;
    font-weight: 100;
    color          : lightgray;
    padding: 40px 0 12px 0px;
    margin: 0;

}





.top {

    position: fixed;
    bottom: 12px;      
   right:30px; 
    place-self: end;
  
    /* visual styling */
    text-decoration: none;

    background: rgba(255, 255, 255, 0);
    mix-blend-mode : difference;

    color          : lightgray;
    mix-blend-mode : difference;
    white-space: nowrap;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.25;
    font-size: 14px;
    font-weight: light;
}




.profile {
    padding: 60px 0 12px 30px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.25;
    font-size: 14px;
    font-weight: light;
    color          : rgb(124, 146, 146);
    mix-blend-mode : difference;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
    height: 1000px;
    max-width:  90%;
}


#abc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    font-weight: 400;
    color          : #ffffff;
    

}

a {
    text-decoration: none;
    cursor: pointer;
    color          : lightgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

}



.footer {
    
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.25;
    font-size: 14px;
    font-weight: light;
    color          : lightgray;
    mix-blend-mode : difference;
    position: fixed;
    position: -webkit-fixed;
    left: 20px;
    bottom: 12px;
    cursor: r

}




    

/* 
height: 100vh;
overflow: auto;


width: 1000px;
height: 1000px;
background-color:red;

/* 中央寄せ  
max-inline-size: max-content;
margin-inline: auto;
*/



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

    
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: 1px;
  padding: 0;
  color          : lightgray;
  mix-blend-mode : difference;
  transition: none;
  border-radius: 0;
  user-select: none;
}

.prev {
   left: 40px;
   border-bottom: 1px solid;
   border-left: 1px solid;
   transform: rotate(45deg)
}

/* Position the "next button" to the right */
.next {
    border-bottom: 1.5px solid;
    border-left: 1.5px solid;
    transform: rotate(-135deg);
  right: 30px;
  border-radius: 0px 0 0 0px;
  z-index: 100;
}
/* 
.prev {
  left: 30px;
  border-radius: 0px 0 0 0px;
  z-index: 100;
} */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color          : lightgray;
  mix-blend-mode : difference;
}


